# Folders
Samples/*
__pycache__/
Temp/

# Audio Files
*.wav
./*.mp3
*.mid
/SoundFonts/gs.sf2

# Proprietary Formats
*.flp


# Other utils
*.bat


# Other data files
temp

# Personal Python Scripts
GeneratorFLP.py
cleanTry.py
memTests.py
TestServer.py
